<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
</head>

<body>
<%- include('../includes/navigation.ejs')%>

<main>
    <% if(authors.length > 0) { %>
        <div class="grid">
            <% for (let author of authors) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"> <%= author.name %> </h1>
                        <p class="product__description"><%= author.bio %></p>
                    </header>
                    <div class="card__actions">
                        <a href="/admin/edit-authors/<%= author._id %>?edit=true" class="btn">Edit</a>
                        <input type="hidden" value="<%= author._id %>" name="authorsId">
                        <form action="/admin/delete-authors" method="POST">
                        <button class="btn" type="submit">Delete</button>
                        <input type="hidden" value="<%= author._id %>" name="authorsId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                    </div>
                </article>
    
                <% } %>
            </div>
        <% } else { %>
            <h1>No Authors Found</h1>
        <% } %>
</main>
<%- include('../includes/end.ejs') %>