<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
</head>

<body>
<%- include('../includes/navigation.ejs')%>

<main>
    <% if(categories.length > 0) { %>
        <div class="grid">
            <% for (let category of categories) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"> <%= category.name %> </h1>
                    </header>
                    <div class="card__actions">
                        <a href="/admin/edit-categories/<%= category._id %>?edit=true" class="btn">Edit</a>
                        <input type="hidden" value="<%= category._id %>" name="categoriesId">
                        <form action="/admin/delete-categories" method="POST">
                        <button class="btn" type="submit">Delete</button>
                        <input type="hidden" value="<%= category._id %>" name="categoriesId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </form>
                    </div>
                </article>
    
                <% } %>
            </div>
        <% } else { %>
            <h1>No Categories Found</h1>
        <% } %>
</main>
<%- include('../includes/end.ejs') %>