<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
<%- include('../includes/navigation.ejs')%>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-categories<% } else { %>add-categories<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="name">Category Name</label>
                <input type="text" name="name" id="name" value="">
            </div>
            <% if (editing) { %> 
                <input type="hidden" value="<%= category._id %>" name="categoriesId">
             <% } %>
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %> Update Category <% } else { %> Add Category <% } %> </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>