<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Show List</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/books' ? 'active' : '' %>" href="/books">Books</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/reservations' ? 'active' : '' %>" href="/reservations">Reservations</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/reservationlist' ? 'active' : '' %>" href="/reservationList">Reservations List</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-books' ? 'active' : '' %>" href="/admin/add-books">Add Books
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/books' ? 'active' : '' %>" href="/admin/books">Admin Books
                </a>
            </li>
        </ul>
    </nav>
</header>