<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/books.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <main>
        <% if(books.length > 0) { %>
        <div class="grid">
            <% for (let book of books) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"> <%= book.title %></h1>
                </header>
                <div class="card__image">
                    <img src="/<%= book.imageUrl %>" alt="<%= book.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= book.author %></h2>
                    <p class="product__description"><%= book.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/books/<%= book._id %>" class="btn">Details</a>
                    <!-- <% if (isAuthenticated) { %>
                    <%- include('../includes/reservations.ejs', {book: book}) %>
                    <% } %> -->

                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Books Found</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>