    <!-- <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (books.length > 0) { %>
                <ul class="cart__item-list">
                    <% books.forEach(b => { %>
                        <li class="cart__item">
                            <h1><%= b.bookId.title %></h1>
                            <form action="/delete-reservation" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= b.bookId._id %>" name="bookId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr> 
            <% } else { %>
                <h1>You don't have any reservations!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %> -->